# Fix for Apache AUTHORIZATION http header as it is stripped by default for security and should be
# enabled explicity when needed
SetEnvIf Authorization .+ HTTP_AUTHORIZATION=$0
SetEnvIf authorization_token .+ HTTP_AUTHORIZATION=$0
SetEnvIf Content-Type .+ CONTENT_TYPE=$0
Header unset X-Powered-By
# Header unset Vary
# Header unset Content-Encoding
# Header set X-XSS-Protection "1; mode=block"
# Header always set X-Frame-Options "DENY"
#order deny allow
#allow from all
Options -Indexes

RewriteEngine On    # Turn on the rewriting engine
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f


# Auth create sacco
RewriteRule    ^signup$      controller/Register-api.php      [L]    # Handle saccos registration requests
